@import "tailwindcss";
@import 'react-day-picker/dist/style.css';

:root {
  color-scheme: dark;
}

.box-shadow {
  box-shadow: 
    0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 0 0 1px rgba(255, 255, 255, 0.03) inset, 
    0 1px 0 0 rgba(255, 255, 255, 0.03) inset, 
    0 8px 8px 0 rgba(0, 0, 0, 0.10), 
    0 4px 4px 0 rgba(0, 0, 0, 0.10), 
    0 2px 2px 0 rgba(0, 0, 0, 0.10);;
}

button {
  cursor: pointer;
  outline: none;
}

/* Styling AutoComplete browser default options */
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: #e4e4e7 !important;
  transition: background-color 5000s ease-in-out 0s; /* hack pra tirar o amarelo */
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-moz-calendar-picker-indicator {
  position: absolute;
  z-index: 5;
  left: 0.8rem;
  opacity: 0;
  width: 50%;
  cursor: pointer
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-moz-calendar-picker-indicator {
  position: absolute;
  z-index: 5;
  right: 1rem;
  opacity: 0;
  width: 22%;
  cursor: pointer;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(9, 9, 11, 0.5) #09090b;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

*::-webkit-scrollbar-track {
  background: #09090b;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(9, 9, 11, 0.5);
  border-radius: 9999px;
  border: 2px solid #09090b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(9, 9, 11, 0.7);
}

/* ===== DayPicker Custom ===== */
.rdp-root {
  --rdp-accent-color: #bef264;            /* lime-300 para o dia selecionado */
  --rdp-accent-background-color: rgba(190,242,100,0.5); /* fundo suave para seleção */
  --rdp-selected-color: #1a2e05;           /* texto dos dias selecionados */
  --rdp-outline: 2px solid #bef264;        /* foco com borda lime */
  --rdp-day_button-border-radius: 9999px;  /* bolinha nos dias */
  --rdp-today-color: #84cc16;              /* cor pro dia 'hoje' */
  --rdp-range_middle-background-color: rgba(190,242,100,0.3); /* meio do range */
}

@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes plane-move {
  0% { transform: translateX(-10%); opacity: 0.5; }
  50% { transform: translateX(80%); opacity: 1; }
  100% { transform: translateX(180%); opacity: 0.5; }
}

@keyframes airplaneFlyOut {
  0%{
    opacity: 1;
    visibility: visible;
  }
  99%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes airplaneTakeOff {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  1%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

@theme {
  --animate-airplane-fly-out: airplaneFlyOut 1.5s ease-in-out forwards;
  --animate-airplane-take-off: airplaneTakeOff 1s ease-in-out 1.1s forwards
}
